BankService/WebContent/wsdl/BankManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="printBalance">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="printBalanceResponse">
    <complexType>
     <sequence>
      <element name="printBalanceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeMoney">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeMoneyResponse">
    <complexType>
     <sequence>
      <element name="removeMoneyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositMoney">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositMoneyResponse">
    <complexType>
     <sequence>
      <element name="depositMoneyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="printBalanceRequest">

      <wsdl:part element="impl:printBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printBalanceResponse">

      <wsdl:part element="impl:printBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositMoneyResponse">

      <wsdl:part element="impl:depositMoneyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeMoneyRequest">

      <wsdl:part element="impl:removeMoney" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeMoneyResponse">

      <wsdl:part element="impl:removeMoneyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositMoneyRequest">

      <wsdl:part element="impl:depositMoney" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankManager">

      <wsdl:operation name="printBalance">

         <wsdl:input message="impl:printBalanceRequest" name="printBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:printBalanceResponse" name="printBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeMoney">

         <wsdl:input message="impl:removeMoneyRequest" name="removeMoneyRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeMoneyResponse" name="removeMoneyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositMoney">

         <wsdl:input message="impl:depositMoneyRequest" name="depositMoneyRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositMoneyResponse" name="depositMoneyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankManagerSoapBinding" type="impl:BankManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="printBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeMoney">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeMoneyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeMoneyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositMoney">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositMoneyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositMoneyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankManagerService">

      <wsdl:port binding="impl:BankManagerSoapBinding" name="BankManager">

         <wsdlsoap:address location="http://localhost:8080/BankService/services/BankManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
